*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
mobile/release/mobile-release.apk
mobile/release/output-metadata.json
wearos/release/output-metadata.json
wearos/release/wearos-release.apk
.idea/deploymentTargetDropDown.xml
mobile/version.properties.mobile
wearos/version.properties.wear
.kotlin/sessions/kotlin-compiler-16890124605456943693.salive
